#app {
    height: 100vh;
}

.app-header {
    height: 3em;
    line-height: 3em;
    background-color: rgb(59, 59, 55);
}

.app-header a {
    color: rgb(255, 255, 255);   
}

.error-message {
    background-color: pink;
}