.manage-panel {
    display: grid;
    width: 1200px;
}

.manage-panel a {
    color: inherit;
    text-decoration: none;
}

.manage-panel .manage-order-card:hover {
    background-color: rgb(252, 252, 252);
}

.manage-panel-3 {
    grid-template-columns: 1200px;
}
.manage-panel-4 {
    grid-template-columns: 840px 360px;
}

a.manage-restaurant-link {
    color: inherit;
    text-decoration: none;
}

.manage-restaurant-card {
    width: 360px;
}
.manage-restaurant-card .card-body:hover {
    background-color: rgb(252, 252, 252);
}