.map-panel {
    display: grid;
    grid-template-columns: 360px auto;
    border: 2px solid #f5f5f5;
    height: 90vh;
}

.info-card {
    border: 1px solid #f5f5f5;
}
.info-card:hover {
    background-color: rgb(250, 250, 250);
}
.info-card > a {
    color: unset;
}
.info-card:hover > a {
    text-decoration: none;
    cursor: default;
}

#searchResult {
    overflow-y: scroll;
}

#map {
    background-color: green;
}