.order-view {
    height: 90vh;
    display: flex;
    align-items: center;
}

.order-panel {
    width: 100vw;
    padding: 0.25em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(247, 247, 247);
    font-size: 1.1em;
}

.order-panel h4 {
    text-align: center;
}

.order-panel .card {
    padding: 0.5em;
    max-width: 500px;
}

.order-panel a {
    color: inherit;
    text-decoration: none;
}

.order-panel a .card-body:hover {
    background-color: rgb(253, 253, 253);
}