.input-box {
    border-radius: 30px;
}

.search-page {
    height: 95vh;
    width: 100%;
    display: grid;
    place-items: center;
    
    background: url("https://zhaosean.com/dist/gofood/images/photo-1601351841251-766245326eee.webp");
    background-size: cover;
}

.search-panel-title {
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.search-panel {
    height: 300px;
    width: 100%;
    background:  rgba(0, 0, 0, 0.705);
}